services:
    david63.trimsubject.listener:
        class: david63\trimsubject\event\listener
        arguments:
            - '@config'		
            - '@language'
        tags:
            - { name: event.listener }
